.hide-button {
    padding: 10px 40px;
    background-color: #F2F2F2;
}

@media (max-width: 770px) {
    .hide-button {
        display: none;
    }
}

@media (min-width: 1440px){
    .hide-button {
        width: 1056px;
        margin: 0 auto;
        padding: 10px 32px;
    }
}